[submodule "themes/paladin"]
	path = themes/paladin
	url = https://github.com/ZCodingTime/hugo-theme-paladin.git
[submodule "themes/leaveit"]
	path = themes/leaveit
	url = https://github.com/liuzc/LeaveIt.git
