[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
[submodule "themes/paladin"]
	path = themes/paladin
	url = https://github.com/ZCodingTime/hugo-theme-paladin.git
[submodule "themes/leaveit"]
	path = themes/leaveit
	url = git@github.com:liuzc/LeaveIt.git
